certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.8
click==8.0.3
colorama==0.4.4
cycler==0.10.0
decorator==5.1.0
Flask==2.0.3
itsdangerous==2.1.0
Jinja2==3.0.3
numpy==1.20.3
requests==2.26.0
scipy==1.7.1
sqlparse==0.4.2
sympy==1.9
urllib3==1.26.7
Werkzeug==2.0.3
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
